.hero {
  background-image: url("../../../public/images/banner.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 90vh;
  width: 100%;
}

.hero {
  padding-top: 10%;
}
.hero h1 {
  color: #fff;
  font-weight: 600;
  font-size: 60px;
  text-transform: capitalize;
}
.hero p {
  color: rgb(234, 229, 229);
  margin-bottom: 100px;
}
.btn1 {
  cursor: pointer;
  padding: 17px 30px;
  color: white;
  background: #2305a9;
  border: none;
  border-radius: 5px;
  font-weight: 700;
}
form {
  background-color: #fff;
  border-radius: 5px;
  margin-top: 50px;
  padding: 20px 20px;
  justify-content: center;
  align-items: center;
  margin: 30px 80px;
}
form input {
  padding: 10px;
  width: 100%;
  border: 1px solid rgba(128, 128, 128, 0.2);
}

form .box:nth-child(1) {
  border-left: none;
}
.box h4 {
  font-weight: 500;
}
textarea,
input {
  border: none;
  outline: none;
  background-color: none;
}
/* Media Screen */
@media screen and (max-width: 800px) {
  .hero {
    padding-top: 30%;
  }
  form {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
  }
  form .box {
    border-left: none;
  }
  form input {
    width: 100%;
  }
  .hero h1 {
    font-size: 40px;
  }
  .btn1 {
    margin-top: 20px;
  }
}
